<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <title>Namaste Fit</title>
    </head>
    <body>
        <header class= 'jumbotron1'>
        <nav>
            <button href='/dashboard' id='dashboard' class='btn btn-info btn-block'>dashboard</button>
            <button href='/' id='saved-poses' class='btn btn-info btn-block'>saved poses</button>
            <button id='logout' class='btn btn-info btn-block'>logout</button>
        </nav>
            <div class='logo'>
                <img src='/images/Namaste Fit 1.png'/>
            </div>
        </header>
        <main>

            {{{body}}}
            
        </main>

        <script src='/javascript/logout.js'></script>

    </body>
</html>




