<header>About Us</header>

<div class = "container">
    <nav>
  
    </nav>
    <br /><br />
      <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#routines">Your Routines</a></li>
        <li><a href="#about">About Us</a></li>
        <li><button id="logout" class="btn-no-style">logout</button></li>
      </ul>
</div>