<header>About Us</header>

<nav>
      <ul>
        <li><a class="active" id='home' href="#home">Home</a></li>
        <li><a id='routines' href="#routines">Your Routines</a></li>
        <li><a id='about' href="#about">About Us</a></li>
        <button id="logout" class="btn-no-style">logout</button>
      </ul>
      
</nav>

<section class="dashboard-wall">
    <div class = "container">
    
    </div>
</section>

<script src="/javascript/about.js"></script>

