<header>About Us</header>

<section class="dashboard-wall">
    <div class = "container">
        <nav>
            <button id="logout" class="btn-no-style">logout</button>
        </nav>
        <br /><br />
        <ul>
            <li><a class="active" id='home' href="#home">Home</a></li>
            <li><a id='routines' href="#routines">Your Routines</a></li>
            <li><a id='about' href="#about">About Us</a></li>
        </ul>
    </div>
</section>

<script src="/javascript/about.js"></script>

