<section class="dashboard-wall">
  {{!-- dropdown menu for target group selecting --}}
  <div class='container'>
    <div class='row '>
<div class="dropdown" id="dropdown" >
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Choose an area of focus:
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {{#each target as |targetGroup|}}
    <li class="dropdown-value">
        <a class="dropdown-item"  href="">
            <span id="dropdown-item-text" class="dropdown-item-text">{{this.target_group}}</span></a>
    </li>
      {{/each}}
  </ul>
</div>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  font-family:"Lato";
  text-align: center;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div class="sidenav">
  <a href="#home">Home</a>
  <a href="#favorites">Favorites</a>
  <a href="#contact">Contact</a>
  <a href="#logout">Logout</a>
  <h3>About Us:</h3>
  <p>
We want to bring yoga into the world by spreading mindful movement,
 inspiring wellness and creating community.
These goals inspire everyone.
  </p>
</div>

<!-- Page content -->
<div class="main">
  ...
</div>
<div class="container poses">
  <div class='row'>

    
  {{!-- this determines how many cards display --}}
    {{#each .}}
     {{> yoga-poses targetGroup}}
     {{/each}}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="/javascript/targetGroup.js"></script>