<section class="dashboard-wall">
  {{!-- dropdown menu for target group selecting --}}
  <div class='container'>
    <div class='row'>
      <div class="col-xs-12 center-block text-center">
        <div class="dropdown" id="dropdown" >
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Choose an area of focus:
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id='dropdown-list'>
            {{#each target as |target|}}
          <li class="dropdown-value">
              <a class="dropdown-item"  href="" id="{{target.id}}">
                  <span id="dropdown-item-text" class="dropdown-item-text">{{target.target_group}}</span></a>
          </li>
            {{/each}}
        </ul>
        </div>
      </div>
    </div>
  </div>


<div class="container poses">
  <div class='row'>

{{> yoga-poses}}


  </div>
</div>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="/javascript/targetGroup.js"></script>