        <header class='jumbotron1 pt-5 pb-5'>
                <img class="img-fluid" src='./images/Namaste Fit 1.png'/>
 <p class="hero-intro"> 
     Namaste Fit is designed to help you heal your target areas and reach the best version of yourself. 
    </br>What are you waiting for? SignUp now to begin your fit journey and to NamasteFit </p>
            </header>
<div class="custom-container">
        <div class="jumbotron1">
            <br />
            <div class='row'>
            {{!-- login form --}}
            <div class ="col">
                <h3>Login</h3>
                <div id="login_container"></div>
            <form action="" id="login" method="POST">
                <div class="form-group">
                    <label for="username"><span class="text-danger"></span></label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password"><span class="text-danger"></span></label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Your Password" autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-info btn-block">
                </div>
        
            </form>
            </div>
            <!-- sign up form -->
            <div class='col'>
                <h3>New user? Sign up!</h3>
                <div id="signup_container"></div>
            <form action="" id="signup" method="POST">
                <div class="form-group">
                    <label for="username"><span class="text-danger"></span></label>
                    <input type="text" class="form-control" name="username" id="username-signup" placeholder="Create your username" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password"><span class="text-danger"></span></label>
                    <input type="password" class="form-control" name="password" id="password-signup" placeholder="Create Your Password" autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="submit" value="Create Account" class="btn btn-block btn-info">
                </div>
        
            </form>
            </div>
            </div>
        </div>
    </div>
        <section id="reach-out" class="contact">
            <h1 class="section-title secondary-border">Reach Out</h1>
                <div class="contact-form">
                    <h3 class="section-title">We want to hear from you!</h3>
                    <form class="contact-us" >
                        <label for="contact-name" class="contact"> Your Name</label>
                        <input type="text" id="contact-name" placeholder="Your Name" />
    
                        <label for="contact-message" class="contact">Message</label>
                        <textarea id="contact-message" placeholder="Message"></textarea>
    
                        <button type="submit" class="btn-info">Submit</button>
                    </form>
                </div>     
        </section>
        <footer>
            <div>
                <a href="https://www.yogajournal.com/poses/">For more head over to YogaJournal </a>
                <br/>&copy; 2021 NamasteFit, Inc.
            </div>
        </footer> 

<script src='/javascript/login.js'></script>