        <header class= 'jumbotron1'>
            <img src='./images/Namaste Fit 1.png'/>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Amet nihil accusamus sapiente alias eum enim, saepe tempore dolor 
                inventore veniam est reprehenderit eligendi, dolores aperiam deserunt placeat 
                eveniet quibusdam odit.</p>
            </header>
<div class="custom-container">
        <div class="jumbotron1">
            <br />
            {{#if success}}
            <div class="alert alert-success alert-dismissible fade show">
                <strong>{{success}}</strong>
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>
            {{/if}}
            {{#if error}}
            <div class="alert alert-danger alert-dismissible fade show">
                <strong>{{error}}</strong>
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
            </div>
            {{/if}}
            <br />
            <div class='row'>
            <div class ="col">
                <h3>Login</h3>
                <div id="form_container"></div>
            <form action="" id="login" method="POST">
                <div class="form-group">
                    <label for="username"><span class="text-danger"></span></label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username">
                </div>
                <div class="form-group">
                    <label for="password"><span class="text-danger"></span></label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Your Password">
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-info btn-block">
                </div>
        
            </form>
            </div>
            <!-- added sign up form -->
            <div class='col'>
                <h3>New user? Sign up!</h3>
            <form action="" id="signup" method="POST">
                <div class="form-group">
                    <label for="username"><span class="text-danger"></span></label>
                    <input type="text" class="form-control" name="username" id="username-signup" placeholder="Create your username">
                </div>
                <div class="form-group">
                    <label for="password"><span class="text-danger"></span></label>
                    <input type="password" class="form-control" name="password" id="password-signup" placeholder="Create Your Password">
                </div>
                <div class="form-group">
                    <input type="submit" value="Create Account" class="btn btn-block btn-info">
                </div>
        
            </form>
            </div>
            </div>
        </div>
    </div>


<script src='/javascript/login.js'></script>