* body, html, main {
    background-color: #71697a;
    margin: 0;
}
.jumbotron1 {
    background-color: #71697a;
    font-family:'Pacifico', cursive;
    color: #ffffff;
    padding: 0 10px 0 10px;
}
header h1 {
    margin: 0;
    padding: 0;
}